.jumbotron {
    background-image: url("../../Assets/images/banner.webp");
    background-size: cover;
}

.card {
    width: 30vw; 
}

.card-header {
    height: 25vh;
    color: white;
    text-shadow: 3px 1px rgb(0,0,0);
}

#myTeam {
    font-size: 8rem;
    color: white;
    text-shadow: 4px 4px rgb(0,0,0, .5);
}

#managerHeader {
    background-image: url("../../Assets/images/manager.gif");
    background-size: cover;
}

#engineerHeader {
    background-image: url("../../Assets/images/engineer.gif");
    background-size: cover;
}

#internHeader {
    background-image: url("../../Assets/images/intern.gif");
    background-size: cover;
    background-position: bottom;
}

